extends resources/blogpost.pug

block blogcontent
        p.
                It's been a largely uneventful week for me. The most notable occurance was when I went downtown to finally buy a
                replacement charger for my 3DS (shoutout to the Nintendo 3DS for having the only transformer that wasn't 120-240V;
                my phone, my laptop, my Nintendo Switch, and everything else charge fine with a plug adapter, but I fried my 3DS
                charger as soon as I got here), but other than that not much has happened. Because of that, I'm going to talk a
                bit about Stockholm as a city and the places in it I've been.
        p.
                Firstly, as a bit of background, Stockholm proper has a population of about 800 000 according to Google, while the
                Metropolitan area has a population of about 2,3 million. That makes the city itself about twice as big as my hometown
                of Minneapolis, but the metro area about 1 million smaller than the combined Minneapolis/St. Paul metro, and all of
                Sweden's nearly 10 million people put the country just a bit larger than New York City proper's 8,5 million.
        p.
                According to the #[a(href="https://www.cia.gov/library/publications/the-world-factbook/") CIA World Factbook], Sweden's
                GDP per capita was a whopping 7 600 USD less than USA's in 2016, but being here it feels much more prosperous. Stockholm
                is not actually that large of a city, but it has an efficent, expansive, cheap, pleasant, clean, and well-maintained
                public transport system, including two huge, newly-built stations downtown which frankly put Grand Central to shame.
                There aren't any skyscrapers because Europe is weird like that, but buildings, especially downtown, are large, fancy,
                and densly-packed. There are beggars and panhandlers, but far fewer than in American cities, and they seem to be slightly
                healthier and better-clothed.
        p.
                Most of my time in the city has been around either my school or Stockholm Central station. Stockholm Central is roughly
                a kilometer from the waterfront, and I have walked down there and watched boats, though I haven't been on a boat since
                arriving. The Stockholm Central area is a shopping district, including a reasonably large farmer's market, a smattering
                of food carts and booths (I am constantly entertained by the poorly-named pizza stand "Papa Chubby"), an H&M every hundred
                meters, a nice park called Kungsträgården, and a streetcar line.
        p.
                Crossing the area is the Drottninggatan, a walking-only (every so often someone drives on it anyway) street lined with shops.
                It's mostly high-end clothing stores, but there are a few cafés, seasonal rented storefronts that are currently selling
                Halloween stuff, and, as one gets further from the city's center, a few seedy "clubwear"/sex shops and tobacco/vape stores.
                Drottninggatan stretches most of the way to my school, but I have never walked down all of it. It's a fun place to wander
                around with friends, trying on clothing and maybe stopping for a fika.
        p.
                Perpendicular to Drottninggatan and just a few hundred meters from Central station is Sveavägen, a major street with some
                more practical stores. I went to a Webhallen on Sveavägen to get my 3DS charger, and though I suspect I overpaid, it
                was worth it to see the store - Webhallen is a major Scandinavian online electronics retailer, but they also have several
                stores. They had game systems, mechanical keyboards, expensive laptops, etc. out on demo, and also had a display case
                showing several recreational drones. Rather than being a self-service store where one finds what one wants and bring it to
                a checkout, customers are issued a ticket on entry, and when the ticket's number appears over a register, an employee asks
                what one wants and goes into the back to get it. The store also included a small coffee bar which I did not try.
        p.
                My school is a few kilometers to the north of the major downtown area, where things are a little quieter and not quite as
                dense - think Uptown Minneapolis as compared to Downtown. There are a number of coffee shops in the area, though I admit
                most of my schooltime fikas have been at Espresso House, which is sort of a regional Starbucks or Caribou. There are two
                Espresso Houses within 300 meters of the school, and Blair (the New Zealand student in my class) and I often hang out at
                one of them before school or during breaks.
        p.
                Djurgården is that weird island in the middle of Stockholm - if you think of Stockholm's land as making an open mouth facing
                east, Djurgården could be a tongue if it was connected at the west, which it isn't. Bad metaphors aside, Djurgården is home
                to Skansen open-air museum and zoo, which I have not visited, and Gröna Lund, the underwhelming amusement park which I
                described in a past post. I'm pretty sure that Vasamuseet is also on the island, but I haven't been there either.
        p.
                One can take a ferry from the downtown waterfront to Djurgården, but it seems a bit silly to me; I'm pretty sure it's faster
                to walk around the bay and across the bridge from the north. What I have enjoyed is taking the streetcar from Kungsträgården,
                since I'm pretty sure streetcars are extinct in the wild in America.
