extends resources/blogpost.pug

block blogcontent
        p.
                Yesterday was the Stuvsta (the neighborhood I live in) Loppis (a very literal translation of 'flea market'). I went with Hanna,
                who the astute reader may remember from how last week we watched a movie together. It was a grey, dreary day, and later in the
                afternoon it started to rain, so I suspect the loppis was not all that it could have been weather permitting, but it was a
                good time. There were a lot of parents selling outgrown kids' clothing, old people selling junk that they didn't know what to do
                with, parents of college students trying to get rid of things that had been left around the house, etc.. The usual flea market
                suspects.
        p.
                I came away with a pair of John Lennon-esque sunglasses with blue frames ("veldigt hipster"), a slightly-too-small
                floral-pattern button-up that almost certainly came from H&M, and a garish orange Yu-Gi-Oh t-shirt which fits me alarmingly well
                for something clearly designed for 10-year-olds. Hanna found a "veldigt ironisk Green Day tröja" and a collection of three old-timey
                faded photos of children in glass frames ("aesthetic").
        p.
                The Scouts were selling fika to fundraise, so I bought a cup of bad coffee and some sort of cheese-based pastry which was quite good.
                Hanna had a pancake, which the Scouts were frying right there on a ridiculously large pan over a campfire.
        p.
                In the evening, the family went out to dinner and a movie. We went to the theater in the Mall of Scandinavia, which is like if you
                took the Mall of America and made it Swedish: It's a bit smaller, a lot cleaner, has fancier stores and restaurants in it, and,
                at least to my knowledge, is not a major point for sex trafficking. The movie theater had its own restaurant, which sounds bad
                at first, but it was a good meal; from what I gathered, many of the patrons were not there to see a movie.
        p.
                We were in a VIP theater, which I suspect was quite expensive. In the US, a "VIP" movie theater means it's 21+ and there's bar service,
                but this one, obviously, was all-ages. There was bar service, and my host mom drank a frozen raspberry daiquiri that looked and
                smelled like an alcoholic Jamba Juice. The theater had large, comfortable seats, and while popcorn, soda, and candies were available,
                they also sold concessions that I would associate more with an opera house or high-brow live theater; I enjoyed a few macarons, and
                olives and cheese plates were also available.
        p.
                The film itself was titled "The Square". It was a Swedish art film presented in a combination of Swedish, Danish, and English with Swedish
                subtitles. Reading Swedish while hearing Danish is not easy, and understanding the film took a lot of presence of mind. It told abut
                the (Danish) director of a modern art museum in Sweden through many strange happenings, and its central message had something to do
                with how the artistic elite are removed from emotion, personality, and humanity. It was also two and a half hours long, which was quite
                something. I'd recommend it, but only with subtitles in the viewer's first language.
        p.
                I want to get to bed soon - Mondays are my earliest school day, with a 10:55 start. I met with the rector last week to discuss electives
                and transcripts and such, and I should soon be adding Linear Algebra and International Relations (two separate classes, though "Linear
                Algebra and International Relations" would be cool) to my schedule. Until then, though, I have two classes per day, I start after lunch
                every day but Monday, and I have no classes on Friday.
