extends resources/blogpost.pug

block blogcontent
        p.
                So I'm 18 now. I'm sorta underwhelmed by the amount that has
                changed. I've mentioned that to a few people, including friends,
                classmates, and my host family, and they've all said, roughly,
                "Oh yeah, I bet in America it's not as big of a deal." They
                proceed to list all the exciting things one can do at 18 in
                Sweden - buy alcohol in bars, get a driver's license, buy
                tobacco products, get piercings and tattoos, vote, etc.
                They tell me, "you probably weren't expecting all this when you
                turned 18, but now the world is your oyster!"
        p.
                Frankly, the reason I don't feel like much has changed is
                because I don't want to do any of those things. Or, at least,
                some of them I don't want to do and others I still can't.
                Exchange students with AFS can't drive or get piercings or
                tattoos, I'm not a voting resident of Sweden, tobacco is nasty,
                and nothing else is really tickling my fancy.
        p.
                I've had this recurring experience of being out in the city with
                friends, and we're at a restaurant for dinner, and I think,
                "Wait, I'm 18 now. I could order a beer or a glass of wine or a
                cocktail." And then I look over the menu for a minute, and I
                realize, "Oh, right, I don't want any of those things."
        p.
                I haven't been drinking, but I have been drinking a lot of
                coffee. My host family's only method of brewing coffee is a
                French press (there's a drip coffee machine in the basement, but
                it kinda looks like it doesn't work), and when I first arrived,
                I was not a fan of that. Time has gone on, though, and I'm
                settling in with the culture, and I'm growing to like French
                press. I still miss my espresso machine from home, but I'm at a
                point where I like the French press enough to actively choose to
                brew up a cup for myself instead of drinking tea or sparkling
                water.
        p.
                Among my many fine birthday gifts were two coffee mugs, and as I
                write this I am drinking a nice black French press out of one of
                them, a simple white mug with a black handle and a picture of an
                elk (or similar noble antlered animal) on one side. The other,
                which is in the dishwasher right now, is a significantly louder
                blue-and-green affair patterned with some jungle scenery, plus
                two tigers equidistant from the handle and with two weird birds
                also hanging out. That one glitters a bit, and it's also a funny
                shaped, with a very wide lip around an otherwise pretty normal
                sized mug.
        p.
                While I'm talking about things I got for my birthday, I'd like
                to thank my parents for the fancy Timbuk2 messenger bag they
                got me, as well as for the package of 24 life-sized rubber
                cockroaches. Now that I have those things, I'm not sure how I
                managed to get by without them.
        p.
                In programming news, I've put a lot of work in the past week or
                so into my Emacs configuration. Anyone interested in that, you
                can find it on
                #[a(href="https://github.com/gefjon/emacs-lisp-conf") Github.]
        p.
                Perhaps the most exciting, and certainly the most difficult,
                thing I've done recently is writing the speech that I will be
                giving to my Swedish Language Arts class on Thursday 7 Dec.
                I pounded out the first draft last night, and I've been doing
                little revisions today, and I plan on keeping that going and on
                practicing my delivery in the week before I present.
        p.
                I think this may be the first time I have ever done a piece of
                homework like this so far in advance, and I have to say it feels
                really good. I have always been very much a "do it last minute"
                kind of guy, and if I'm honest I've never had any reason not to
                be, but writing this speech was
                #[span(class="font-italic") really hard.]
                It's not particularly long (it only meets the 5 minute minimum
                because I am quite slow at speaking Swedish), but I feel like
                the content is a lot better than I was expecting. I'll keep you
                all updated on how it turns out. I'd describe my current feeling
                as "cautiously optimistic".
