extends resources/blogpost.pug

block blogcontent
        p.
                I missed last week, and I don't know how much I'm going to write today. I think I've sort of hit the hard part of an exchange year.
                I'm still having a wonderful time, and I wouldn't trade these experiences for the world, but things are getting a little tougher than
                they were at first.
        p.
                I think the way an exchange year goes is, at first everything is exciting. You have no idea what's going on, and talking to people
                is really difficult, but that's okay because you're in another country and you've been looking forward to this for so long. After maybe
                a couple months, though, that sort of wears off, and you're left living in a foreign country, trying to converse in a language you
                don't know, wishing you could spend time with friends you don't have, and things are difficult. After maybe a month of that, I've
                been told, you start to feel comfortable with the language, and you start to have close friends, and you're happy and doing well.
        p.
                That said, this part is sure less fun than I would like. I understand things, but it takes way more energy to converse than I want,
                and I find myself coming home after a day of school just ready to completely crash. I spent my entire weekend just sitting around
                the house drinking tea and watching TV. I have some Swedish friends, but none are as close as I'd like. I've got a crush, but I have
                no idea how to go about pursuing it -- that's hard enough normally, but I don't have experience with social norms or the intricacies of
                language here.
        p.
                Every language has words and phrases that don't translate easily. I think the most common example for Swedish to English is "lagom",
                an adjective that means "the right amount", but the one that I've found more pleasant is the verb "att orka", meaning "to have the energy
                to do something". It's most commonly used in the phrase "jag orkar inte", which is a stronger statement than "I don't feel like it", but
                weaker than "I can't". I'm finding that gathering the energy to do things is difficult, and that by the end of a week I desperately need
                my weekend to recharge. I'm hoping that as time goes on and as I become more used to Swedish life I'll be able to find the energy to do
                more and more, but for now it's a sort of delicate balancing act between rest and forcing myself to just get out and do it anyway. This
                weekend, I opted to rest, and I feel pretty good about that choice, but I know that if I do the same every weekend I'll end up bored
                and lonely.
        p.
                On a brighter note, today I learned that Adam, who went by Kasper at Sjölunden, a former fellow student and later a counsellor, works
                at my school! He's doing a study abroad-type thing though his college, and as part of it he's working as an assistant English teacher
                at Norra Real. I'm kind of surprised we didn't run into each other sooner, but either way we're going for a coffee on Thursday. It'll
                be nice to reconnect, and as a former exchange student in very similar circumstances to me I'm hoping he can offer some advice or
                sympathy.
        p.
                I think I'm going to go get another cup of tea and then settle in for bed - it's been a long and emotional day of Netflix Original dramas.
                I haven't drunk so much tea since I was in the hospital. My host mother has a habit of buying fancy loose-leaf tea and never drinking it -
                I think she likes the tins more than anything else - but I've been taking advantage of it. I just found a tin of very nice English
                Afternoon Tea, which I had never had before. It's basically a milder English Breakfast, which I guess is sort of unsurprising, but it's
                nice and I'm enjoying it.
