extends resources/blogpost.pug

block blogcontent
  p I leave tomorrow.
  p Wow.
  p.
    The past week or so, I've been so busy I haven't really had time
    to think about it.
    Between packing, the parties my parents and I have thrown, packing,
    seeing people for the last time, packing, setting up this blog,
    and packing,
    it's been quite the few days.
    But now it's Tuesday evening, the 15th of August, 2017, and I'm just about
    ready. My blog is up, I've said my goodbyes, and my bags are packed.
  p.
    I have the opportunity to sit for a moment, and I kind of wish I was still
    busy.
    I'm filled with emotions I can't name.
    I wouldn't say anxious because I know everything will go well
    and I'm not worried.
    Excitement also feels wrong.
    I'm sad about the friends I'm leaving behind,
    but that's not what's filling me.
    I feel like I drank too much coffee and now I'm having trouble
    falling asleep.
  p.
    I'm going to try to update this blog every Sunday.
    It may be more often if I'm feeling the urge to write;
    it may be less if I'm busy.
