extends resources/blogpost.pug

block blogcontent
        p.
                It's nearly the New Year and I am on Christmas break. I can't
                really remember when it was that I last wrote, so I'm not sure
                what has happened since, but I'll try to recap the last few weeks
                or so.
        p.
                I gave my speech for my Swedish class, and it went well,
                considering that Swedish is not my first language. Anyone
                interested can
                #[a(href='https://docs.google.com/document/d/1K4ey3MruR9Vn5OETBOP2BX-HPMEe2Zwa2Wi4irY4Evo/edit?usp=sharing') read it on Google Drive],
                but be warned: it's in some strange, foreign language with a
                bunch of weird letters and fake-looking almost-English words.
        p.
                I got into college! I was accepted Early Decision to NYU's
                College of Arts and Sciences to study Computer Science, and I'm
                super excited to be there next year!
        p.
                Johanna, Daniel and I visited Finland, which was a fun trip. We
                stayed in the apartment of Johanna's mother who, sadly, has
                pretty severe dementia. Seeing her was like a poetic reminder of
                the ravages of time, or something, but it was also, at least to
                someone without an emotional attachment to her, a credit to
                Finland's infrastructure for caring for the elderly.
        p.
                While we were in Helsinki, I decided to test my newfound
                adulthood, so I ordered a glögg at a restaurant. I was served a
                a cup of warm grape juice mixed with what Johanna's Finnish
                friend translated to me as "yellow liquor". Further prompting by
                me revealed that this "yellow liquor" was a sort of Finnish
                specialty and that it consisted of brandy mixed with grain
                alcohol. Johanna's friend went on to advise us that the cheaper,
                lower-quality-rated stuff was better because more "stars"
                (out of a five-star rating system, I assume) meant more brandy
                and, therefore, less grain alcohol. I think it's safe to say that
                I enjoyed that glögg much less than the mulled wine that my host
                family had been serving me.
        p.
                Rather than writing too much about a trip that is now several
                weeks behind me, I'll summarize by saying that I enjoyed the
                weekend and that I doubt I would have enjoyed much more. I'm glad
                I have been to Finland, and I'm also glad that I chose to take
                exchange in Sweden.
        p.
                On Friday the 22nd, it was Essi's 18th birthday. Essi is a
                Finnish girl on exchange in Sweden (and before you ask, I feel
                the same way). To celebrate, her, me, Blair (NZ), Susan (Buffalo,
                NY), Alayna (someplace in the US), Alice (France), on of Essi's
                school friends, and another Finnish exchange student whose name I
                don't know went out to dinner and then wandered around town for a
                while. Essi and I each ordered a beer with dinner, and I learned
                two things about myself: that I like the taste of beer, and that
                I can only drink about a half of a beer in one sitting - not
                because I get drunk or anything, but that after about 300 ml I
                just don't feel like drinking any more bread.
        p.
                On Sunday we celebrated Christmas, because apparently Swedes
                celebrate on Christmas Eve. We had a casual brunch at around
                noon, watched those weird old sorta racist Disney cartoons that
                Swedes are so fond of at 3, and ate a truly magnificent dinner at
                5:30. We all dressed up for the dinner, even though it was just
                us four, and that was a lot of fun. Having done that, I sort of
                want to buy more dress clothes - I enjoyed dressing up and
                looking fancy, but I have only one suit and I had to borrow a tie
                from Daniel.
        div(class="mx-auto", style="width:60%;")
                | <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/BdHzkmmhSM6/" data-instgrm-version="8" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/p/BdHzkmmhSM6/" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">A post shared by Arthur Aardvarken (@reviverseed)</a> on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2017-12-25T10:32:00+00:00">Dec 25, 2017 at 2:32am PST</time></p></div></blockquote> <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
        p.
                Now it's Wednesday, and I've done basically nothing since
                Christmas. Blair and Susan are both out of town, Hanna just got
                back today, there's no school, and things are getting pretty
                boring. I'm going to try to get out and get a haircut tomorrow,
                but I've been saying that for about a month, so we'll see.
