extends resources/blogpost.pug

block blogcontent
        p.
                I'm feeling kinda bummed for no particular reason. I want to
                write something, but I'm not sure what, so rather than try to
                force something, I'm going to give you another taste of my life.
        p.
                This time, it's the music I listen to:
        iframe(src="https://open.spotify.com/embed/user/annoyedalchemist/playlist/7MqFijq5chrM1I49tcs4yp", width="300", height="380", frameborder="0", allowtransparency="true")
        iframe(src="https://open.spotify.com/embed/user/annoyedalchemist/playlist/72DKyqz5zPcyn2yG6zv13n", width="300", height="380", frameborder="0", allowtransparency="true")
        p.
                I'm also big into a couple of podcasts right now:
                #[a(href="https://www.nytimes.com/podcasts/the-daily") The Daily (news)],
                #[a(href="https://www.nytimes.com/podcasts/new-washington") The New Washington (news)],
                #[a(href="http://www.maximumfun.org/shows/jordan-jesse-go") Jordan, Jesse, Go! (comedy, #[span(class="font-weight-bold") very explicit])],
                and
                #[a(href="http://www.maximumfun.org/shows/adventure-zone") The Adventure Zone (comedy, not as explicit)]
                are where I go when I need to remember that I speak a language
                fluently, even if it's not the one I'm immersed in all day.
        
