extends resources/blogpost.pug

block blogcontent
        p.
                I'd like to start by offering an addendum to my earlier post about Fanta in Sweden by saying that
                Orange Fanta tastes different than in the US.
        p.
                The reason I haven't written a post in a few weeks is that my sense of time is a little whacked-out.
                I think that's kind of part of the exchange student experience, but I basically realized today that
                I've been in Sweden for more than 6 weeks - I feel like I just got here.
        p.
                Today I went out in the city with Elvira and Hanna. We were going to see
                #[i Pirates of the Caribbean: Dead Men Tell No Tales], but the theater was surprisingly full for a
                movie that released several months ago, so instead we went for a fika and did some shopping. Neither
                of them bought anything, but I came away with two vintage jackets, which you can see
                #[a(href="https://www.instagram.com/p/BZq3oyUhPwK/") on my Instagram].
        p.
                I feel like my Swedish has improved a lot since I've been here, but I still have a lot of trouble
                conversing; after being out with Hanna and Elvira for a few hours speaking and listening in Swedish,
                I felt about ready to come home and sleep for the rest of the weekend.
        p.
                In school, things have been pretty good - I feel like I'm understanding a fair amount, though
                disappointingly little of it is new material. We took a quiz in Math on Wednesday, and of the eight
                questions, I felt incredibly confident about the answers and methods for seven, and the last one
                I just couldn't read.
        p.
                Physics is doing some of the later Mechanics topics like angular motion and simple harmonic motion,
                which on the one hand I'm good at and understand, but on the other hand are a subject that I already
                got a 5 on the AP test for. Religious Studies is my most interesting class because I'm experiencing
                the way Swedes perceive religion, but even there I feel more like I'm learning language than material.
        p.
                Somewhat ironically, Swedish is the class where I feel I'm learning the least Swedish. Our teacher,
                Pekka, has taken it upon himself to separate the three exchange students from the rest of the class
                to teach us Swedish as a Second Language. A noble pursuit, and I think my pronunciation has improved
                thanks to his mentorship, but I think I'd be getting more out of just participating with the rest of
                the class, reading, writing, and discussing texts in Swedish. I've heard other students complain as
                well; it seems that while he is busy teaching Blair, Tomoko, and myself basic vocabulary, he has not
                been present for the rest of the class to give help or feedback on their writing.
        p.
                As a way of keeping myself busy during school, and as an escape from the trials and tribulations
                of speaking a second language all the time, I've begun work on a
                #[a(href="https://github.com/gefjon/rgb") Game Boy emulator], which I am developing in Rust.
                It's still very early in development (read: does not do anything), but it's fun to work on. I'm kind
                of amazed by some of the ways the system works around the absolutely abysmally performing hardware of
                its era. I cannot even imagine game development without floating-point numbers, but the Z80, the
                Game Boy's microprocessor, completely lacks floating-point capabilities. In fact, it doesn't even
                have integer multiplication or division - its arithmetic operations are restricted to ADD/ADC 
                (addition with support for 8- or 16-bit integers), SUB/SBC (subtraction with the same support),
                AND, XOR, OR, CP (ComPare, which does simple </>/= comparison of 8-bit numbers), RLCA/RRCA/RLA/RRA
                (bitwise rotation, only by one bit per instruction and only on the special-purpose 8-bit Accumulator
                register), and a few seldom-used two-cycle commands to set specific bits of registers.
        h4 Those of you who got bored of the computer talk, pick up again here.
        p.
                Yesterday (Friday), instead of having no classes, like most weeks, I had a field trip! My Physics class
                went to Gröna Lund, the amusement park on Djurgården in downtown Stockholm. Just like my comparison
                of the Mall of Scandinavia with the Mall of America a few posts back, I found Gröna Lund to be a
                typically Swedish version of Valley Fair, the amusement park near the Twin Cities. It was smaller,
                cleaner, the rides were less intense, and it was overall very lagom. They did have one good ride,
                called simply "Insane", but between the line and the loading and the unloading it was about 15
                minutes of wait for about 20 seconds of excitement.
        p.
                It's about dinner time (I am not fasting for Yom Kippur), so I'll sign off here. I'll try to post more
                regularly in the future, but que sera, sera.
