extends resources/blogpost.pug

block blogcontent
  p I'm in Sweden!
  p.
    I'm at what I believe is called the "Arrival Orientation."
    We got off the plane in Stockholm at around 10:00 and we piled onto
    a bus with around 30 exchange students who had arrived before us.
    It was maybe a 20 minute drive to Sigtuna, where we're at a youth hostel.
    I lucked out and got a single room, so I don't have to worry about a
    roommate for the next few days.
  p.
    I've never been in a youth hostel before, and it's much nicer than I
    expected. We have (unreliable) wifi, so I'm able to update my blog.
    Each room has its own bathroom with a shower. The food isn't anything to
    write home about, but it's better than what we ate at the hotel in Queens.
    The view from my room is gorgeous.
  p.
    Over the coming weekend, we're going to do a variety of team-building
    and learning activities. I don't know quite what they'll be, but I'm
    looking forward to meeting people. At dinner I sat with several people
    from New Zealand (or Nya Zeeland, as it is called in Swedish), and I
    noticed, among others, that there are a lot of students from Italy here.
  p.
    I'm pretty tired, so I'm gonna leave it here for today. I'll still try to
    do a post on Sunday, when I meet my host family (!!!).
