extends resources/blogpost.pug

block blogcontent
        p.
                Johanna, my host mom, had a really incredible keyboard sitting around: the Qwerkywriter®, a mechanical replica of a typewriter keyboard.
                I expressed interest, and she offered to let me use it, explaining that she picked it up at a flea market and has never used it. It's
                motivated me to write, so I'm doing another post just two days after my last one.
        p.
                I realize my last post was light on news in favor of sharing a recipe, but it's been a pretty uneventful week or so. I'm on höstlov
                (lit. autumn break) the whole of week 44, and for exchange students, school breaks mean either your host family has plans or you do
                nothing. My host family had no plans, so I've been resting, cooking, watching Netflix, and playing Animal Crossing.
        p.
                As a quick aside, does anyone know of any other countries that use week numbers? In America I was only aware of week numbers as an
                odd part of the ISO date standard, but in Sweden they're used all the time. My online school schedule, for example, asks me to choose
                a week before it displays my schedule.
        p.
                Back to what I've been up to: both of my Swedish friends, Hanna and Elvira, took trips (to Barcelona and Prague respectively), which
                limited my social options to the other exchange students or to reaching out to someone from school. I wasn't really in the mood for
                organizing thing myself this week, so I opted for the first option and tagged along with Susan (Buffalo, NY), Blair (New Zealand),
                Nicole (Brazil), Essi (Finland), and Paul (France, but not a current exchange student; he was an AFS student in Sweden last year and
                was just visiting). We carved pumpkins on Tuesday, which was Halloween, and that was a lot of fun. No one other than Susan and me had
                ever carved a pumpkin before, which made it a good opportunity to feel more talented than I actually am at pumpkin carving.
        img(src='/image/pumpkin-0.jpg', class='rounded mx-auto d-block', alt='My gorgeous pumpkin')
        img(src='/image/pumpkin-1.jpg', class='rounded mx-auto d-block', alt='Another shot of my pumpkin')
        img(src='/image/pumpkin-2.jpg', class='img-fluid', alt='All of the pumpkins carved by exchange students that day')
        p.
                My pumpkin showed the silhouette of an old-style rocket ship. Nicole, Essi, and Paul all went for traditional faces, Susan carved a
                Swedish flag next to the letters "SWE", and Blair got overzealous and tried to do something SpaceX-related.
        p.
                The afternoon was a lot of fun, but as it got later and we went out for dinner, conversation turned to alcohol, as it invariably does
                with that group. As I think we all know, drinking to get drunk is unhealthy and one of the warning signs of alcoholism, but it's also
                very much a part of the culture of both New Zealand and Finland. Actually, I'm pretty sure alcoholism, depression, and high suicide rates
                are the relevant parts of those cultures, but either way, that combined with the fact that we're all teenagers trying to impress each
                other meant that some of the things that were said made me pretty unhappy to be there. Because of that, I ducked off and went home a bit
                earlier than the others.
        p.
                Because this is Sweden and not the US, there wasn't anything else happening on Halloween, so I just watched some cartoons and relaxed.
                That led me to a revelation: the "Star Wars: the Clone Wars" TV series is #[span(class='font-italic') terrible]. Like, I got halfway
                through an episode and just gave up.
        p.
                The highlight of this week was yesterday, when Johanna, Fanny, and I went into the city for the afternoon. We had lunch at Hermans,
                a vegan restaurant on Stockholm's southern island, which was quite good, and then went to Fotografiska, a photography museum. They
                had several excellent exhibitions. The heaviest was "Being there", a selection of photos of war and poverty in the Middle East by the
                journalist Paul Hansen. I really enjoyed Vivane Sassen's "UMBRA", a collection of experiments with light and color. Also on display
                was a video of a poem read in American Sign Language, and I was pleased to find that I understood it pretty well.
        p.
                Overall it's been a nice break, and I think the relaxation has done me good, but I'm also looking forward to returning to school next
                week. I have tests in Religion and Swedish, though, which I'm not super excited about. Still, though, I'm sure they'll be fine. At
                the very least, #[span(class='font-italic') que sera, sera].
