extends resources/blogpost.pug

block blogcontent
        p.
                I was out of school for two days (Thursday and Friday) because I was sick. Some sort of bug has been going around. My host mom Johanna
                has it the worst; she was out of work all week. I'm feeling a lot better now (I think she is too), and today I invited two new friends,
                Elvira and Hanna, to watch #[em The Grand Budapest Hotel]. We met up at the grocery store to find some traditional Swedish snacks, and
                I must say I was surprised by what was and wasn't there. Contrary to my expectations, the only snack food that I recognized from the
                US was Doritos, and even they had a different colored package than in the US. For soda, we found Coke and Dr. Pepper, but only in an
                oddly sized 1.5L bottle. We settled on "Exotic" flavored Fanta, which was... odd. I offer here, as near as I could compile, a
                (incomplete) list of flavors of Fanta available in Sweden:
        ul
                li "Exotic," which tastes sort of like grapefruit
                li Grapefruit
                li Orange
                li Lemon
                li Mango
        p Notably absent are:
        ul
                li Red (marketed as "Strawberry")
                li Purple (marketed as "Grape")
                li Yellow (marketed as "Pineapple")
        p.
                Those absences segue nicely to the one thing that has given me trouble while in Sweden: the complete lack of Tex-Mex food. It never
                occured to me that refried beans were a regional foodstuff or that they were not just as much of a staple in other parts of the world.
                They are not available here. Swedish grocery stores do not sell canned refried beans. Every swede I have asked has been completely
                ignorant of the concept or existence of refried beans. In fact, even the pinto beans that traditional refried beans are made of are
                not available here. I have resolved to make my own refried beans using black beans and to serve my host family a traditional huevos
                rancheros for dinner one night.
        p.
                The grocery store I went to had an entire aisle dedicated to tortillas, with at least 5 competing brands; this is due to the recent
                tradition of "tacokväll," (lit. taco night), wherein a family gathers together to make an absolute mockery of Southwestern American
                cuisine once a week. That being so, the aisle was filled almost entierly with flour tortillas. They had one sad stack of corn
                tortillas hiding near the bottom of the shelf.
        p.
                My host family politely requested that I not make spicy food, so I didn't look for hot peppers, but during my frantic search for beans
                in the canned food aisle I saw neither canned nor dried jalapeños nor chipotle in adobo.
        p.
                As perhaps the most outrageous part of this whole thing, when I commented to Hanna about my disappointment in the state of Tex-Mex
                food availability in Sweden, she commented that there was a Taco Bell nearby. I had to clarify that Taco Bell in the US is eaten
                exclusively by those under the influence of cannabis - to my memory, I have literally never in my life seen or heard of a sober
                person eating Taco Bell.
        p I leave you with this sad picture of life without Tex-Mex food until I next feel like writing.
