extends resources/blogpost.pug

block blogcontent
        p.
                Our loyal listeners may have noticed that I didn't write last
                week. That's probably to no one's surprise, since my track record
                hasn't exactly been incredible re: keeping this blog updated, but
                for once I feel like I have a pretty reasonable excuse. To that
                effect, I give you:
        h2 Complaints about AFS
        p.
                The reason I didn't write last week is because there was an AFS
                activity. I think it was our "Post-arrival camp", but honestly
                I lost track of the AFS camp names a long time ago. Either way,
                it was an activity for the students in the Stockholm area, plus
                a few from out in the countryside who didn't have anywhere closer
                to go.
        p.
                Friday night, the students from outside Stockholm arrived by
                train or plane and went to stay with an exchange student in the
                city. I believe Camille, another American who is living in a
                small town somewhere up north, stayed with Blair, but there were
                a few other visitors who I'm less sure about. Blair, Susan, a few
                others and I were out eating ramen and buying bulk candy, so we
                picked Camille up from the train station.
        p.
                The next morning, we all showed up to the AFS office at 10:00.
                Notably, 10:00 is earlier than I start school three out of five
                weekdays, and certainly earlier than I ever want to be doing
                anything on a weekend. However, the AFS office has an espresso
                machine, so I faithfully trudged over there. I was planning on
                traveling commuter rail ⇨ subway ⇨ bus (the AFS office is pretty
                far from my home, and also just pretty badly located no matter
                where you're coming from), but before I could catch the bus, my
                least favorite exchange student ran up behind me.
        p.
                I assume he doesn't read my blog, and also that sentence of
                description is enough for him to know I'm talking about him if he
                does, so I don't have any need to withhold information, but I'm
                still going to forego further description, on the grounds that
                I'm in a pretty good mood right now and I don't want to ruin it.
        p.
                He was with Susan, who I think feels pretty much the same way as
                I do, but together we put up with him. He decided that we should
                walk instead of taking a bus, and I think I might have enjoyed
                the walk if he hadn't been there.
        p.
                I'm not actually writing this blog post just to complain about
                this one guy, even though I'm sure I could, so let's jump ahead
                a bit. All 30-odd exchange students are at the (not very large)
                AFS office, most of us have been given name tags we've been
                making small talk for a long time as we wait for the camp to
                begin, and mostly nothing has happened.
        p.
                We're broken up into 3 groups seemingly at random, and either by
                chance or design my group ends up including the Italian guy who
                has a crush on me who I have absolutely no romantic interest in,
                plus a bunch of people I haven't really spoken to. Each group has
                one volunteer leading activities throughout the day, except none
                of the volunteers could actually free their schedules for the
                whole day, so we have Erika (who attends my school) for the first
                and last of our activities, and she leaves for the middle two to
                attend a Mama Mia sing-along with Hedda, who is leading one of
                the other groups.
        p.
                For those middle two workshops, two of the other volunteers
                switch off leading. Neither of them seemed particularly enthused,
                and if I had to guess I'd say that the reason it wasn't the same
                person both times is because she didn't want to do another one
                after the first.
        p.
                The workshops themselves were the same stuff we do at every AFS
                camp: the "cultural iceberg", goal setting, the D.I.V.E. method,
                and evaluating our expectations vs. reality. Actually, before all
                of the workshops, they did a presentation about the schedule and
                such, and during it they asked us not to use our phones during
                the workshops.
        p.
                Life pro tip: if you're going to a presentation
                and the presenter asks you not to use your phone, it means the
                presentation is going to be
                #[span(class="font-italic") incredibly boring]. If you're a
                presenter and you notice that people are ignoring you in favor of
                looking at their phones, consider improving your presentation so
                that you grab their attention more.
        p.
                Around noon, AFS served us a lunch of build-your-own ham and
                cheese sandwiches with a side of apples or bananas. No vegetables
                were present (a nice crunch lettuce is a staple of any ham and
                cheese sandwich, and things like tomatoes, onions, and peppers
                never hurt), nor were any condiments beyond butter. The only
                bread was this weird round stuff Swedes eat that I'd characterize
                as being 50% bread, 50% cracker, 0% flavor. There was enough of
                the ingredients for each of us to have roughly two open-faced or
                one regular sandwich, which wasn't particularly enough food.
        p.
                For dinner, after all four workshops and several unnecessarily
                long breaks, we had pizza from a local pizza place. I can't
                really fault AFS for this, but by the time we got the pizza it
                was lukewarm and bad. We also somehow wound up with 40
                serving-sized containers of "pizza salad", a cabbage-based...
                thing (I wanted to say "dish" or "side", but both of those words
                seemed too generous) which, as far as I could tell, was actually
                just finely chopped cabbage with no sauce or other vegetables.
                It was like if someone tried to make coleslaw, but got lazy and
                gave up about two minutes in.
        p.
                So dinner was over and everyone wanted to leave. Those who
                weren't in Stockholm wanted to see the city, those who were
                wanted to go home, and everyone was pretty miserable. Actually,
                the Italians seemed to be having a pretty good time, which
                honestly made it much worse for me. They were very loud and
                unpleasant.
        p.
                Naturally, instead of calling it a day now that all of their
                nominally educational material was finished, AFS decided that we
                would all watch a movie. Eventually, they compromised and said
                that we didn't have to watch the movie, but we weren't allowed
                to leave the office until 21:00, when the camp was scheduled to
                end. The astute reader will remember that we arrived at 10:00,
                making this an 11 hour day.
        p.
                I think roughly two people watched the movie. I sat in a corner
                and listened to #[span(class="font-italic") Judge John Hodgman],
                a silly podcast which I recommend to anyone wherein author John
                Hodgman pretends to be a judge and settles domestic disputes from
                people who call in.
        p.
                At around 20:30, I felt well enough to go and talk to some people
                again. Apparently, while I was out, my AFS rival had gotten into
                an argument with a volunteer and been sent home, so the rest of
                us had a somewhat more pleasant chat for a while. Just about
                exactly 21:00, one of the volunteers turned to me and Henry and
                asked, "So how long are you thinking about staying tonight?"
        p.
                I immediately responding with, "Can we leave now?" and within
                minutes the two of us were out the door. Henry and I walked
                together to a not-very-nearby subway station, and we had a very
                interesting conversation.
        p.
                Henry is from The South™, lives in a small town, works in a
                diner, and plans on joining the army as soon as he's old enough.
                In short, he comes from a very different America than I do, but
                he's also a very nice guy, and I enjoyed talking to him.
        p.
                After that intra-national crossculturalism, I got home and went
                to sleep. We were scheduled to resume at 9:00 the next day,
                which would have left me about 9 hours at home after the 1.5 hour
                commute each way. Instead, I reached out to one of the volunteers
                and told her that the day had left me struggling with mental
                illness and that I wanted to stay home Sunday to relax. She was
                very accommodating (credit to AFS for that), and instead I spent
                Sunday with my host family.
        p.
                That Sunday was Father's Day in Sweden, which I would have missed
                much of if I had been at the second day of the AFS camp, so that
                seemed like poor planning.
