extends resources/blogpost.pug

block blogcontent
        p.
                Today is Monday, my first day home after spending the weekend in
                Göteborg for the Nobel Week Dialogue, which was a great
                experience. I got to see a bunch of interesting, intelligent,
                talented speakers. Easily the highlight of the event was a panel
                titled "The Future of Truth" featuring Maggie Haberman, a New
                York times reporter and kind of my hero; Michael Hayden, former
                director of the CIA; and Steven Chu, 1997 Nobel Physics laureate
                former U.S. Secretary of Energy. They talked about the effects of
                the Trump administration on American politics and institutions,
                which I'd say broadly is a discussion I'm tired of hearing, but
                they were all such fascinating people who actually had new
                information and relevant perspectives, and I really enjoyed it.
        p.
                The whole event was super cool, and I strongly encourage anyone
                who can make it to attend the Dialogue next year. If you can haul
                yourself to where it's being held (next year is Stockholm), the
                event itself is free and it's really worth going to. We reserved
                our tickets about a month in advance, which I think was a good
                decision because the place was about as full as it could possibly
                be.
        p.
                While we were in Göteborg, we also went to two Christmas markets,
                one of which was at Liseberg, Sweden's largest amusement park. I
                was disappointed to find that most of the deep-fried bread-ey
                high-carb amusement park foods that I so love had been replaced
                traditional Nordic Christmas-time foods. Instead of a funnel
                cake, I ate a piece of what was essentially pita bread with
                butter. It was fresh and warm and I enjoyed it, but it wasn't
                what I was hoping for going into an amusement park, and I'll
                admit to feeling let down.
        p.
                I think the best part of visiting Liseberg was discovering that
                those rigged arcade games where you can win valuable prizes, like
                #[span(class="font-italic") Barber Cut],
                #[span(class="font-italic") The Key Master],
                and most famously, #[span(class="font-italic") The Claaaaaaaw],
                are considered gambling by Swedish law. Liseberg was filled with
                them, even more than any amusement park I've ever been to in the
                U.S., but they all had little yellow stickers instructing patrons
                that one must be 18 to play. They didn't have any way of
                checking a player's age, and I saw several minors playing, which
                was the funniest part. As a side note, I can't remember if the
                stickers were in Swedish or English, which is either a sign that
                I'm becoming bilingual or that I'm losing my mind.
        p.
                On Sunday before we left, we went to Trägårdsföreningens
                Palmhuset, a lovely greenhouse. For those of you not in the know,
                I love greenhouses, and I had a great time there.
                Trägårdsföreningen has a pretty large park with several outdoor
                gardens which I'm sure are beautiful in the summer, but this time
                of year it was basically just the greenhouse.
        div(class="mx-auto", style="width:60%;")
                | <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/BchT3pkh9DQ/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">I love greenhouses! If you ever want to impress me, take me to a greenhouse or an arboretum or a botanical garden and I will immediately fall in love with you.</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A post shared by Arthur Aardvarken (@reviverseed) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2017-12-10T11:43:50+00:00">Dec 10, 2017 at 3:43am PST</time></p></div></blockquote> <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
