extends resources/blogpost.pug

block blogcontent
  p.
    Today I left arrival camp and met my host family! I'm living in Huddinge,
    which is a suburb of Stockholm, but I'm so close to the city that my
    Snapchat geofilter is for Stockholm. The house is beautiful and deceptively
    quaint; though it looks small from the outside it's quite roomy.
    My room is a little larger than my room at home, but it's nearly square, which
    makes it feel spacious. It used to be the room of my host sister who is spending
    the year in Chile. She left before I did and will return home after me, so
    I won't meet her.
  p.
    I did meet Daniel, Johanna, and Fanny. Daniel is the father, and at first
    impression he's careful with his words, but not exceptionally quiet. He
    cracks a joke occasionally, and when he does they're funny. He speaks a
    bit fast, but I can mostly understand him.
  p.
    Johanna is the mother. She's more talkative, and she's pleasant and warm.
    She works as a pain doctor, and her nature and mannerisms, at least as I've
    seen, are the what one would expect from a good doctor. She makes an effort
    to speak a little more slowly so I can understand, and when Daniel and Fanny
    say something quickly she often repeats or summarizes for me so I don't feel
    excluded.
  p.
    Fanny is the younger daughter. She's 14, and turns 15 in March. She starts school
    tomorrow (I don't start until Thursday). She seems like a pretty typical young
    teenager, though I've noticed that she's more politically aware than a typical
    American of her age.
  p.
    The family, the house, the food, the neighborhood, and everything else so far
    have been lovely. I'm pretty tired, so I've put off worrying about getting a
    phone number and other such things until tomorrow.
