extends resources/blogpost.pug

block blogcontent
        p.
                I've been pretty exhausted for the past few weeks, which has led to, among other things, me not really feeling like writing a blog post.
                There's nothing to worry about; the year is still going well and I'm talking to people and doing things and having a good time, I'm
                just spending a majority of my free time asleep.
        p.
                Rather than a real blog post, which would take time and energy to write, I'd like to give all of you a chance to experience life as an
                exchange student. To that effect, I'm sharing the recipe for my Patented space-age out-of-this-world moooooooon waffles. I eat a whole
                batch of these in one sitting, but your mileage may vary.
        include:markdown-it waffle-recipe.md
