extends resources/blogpost.pug

block blogcontent
        p.

                It has been far too long since I last wrote (one could see this
                as a good thing, since it means I've been busy), and even now
                I'm not sure how much I intend to write. We're in our last few
                days of school, and things have been simultaneously hectic and
                boring. I didn't have a single real class this week - the only
                class that met at all was Programming, and that was just for
                coffee and to do a year-end wrap-up and give feedback to the
                teacher. We also had mentorstid, which Americans may know as
                "homeroom", yesterday, but that hardly counts.

        p.

                Wednesday, two days ago, was Sweden's national day. Neither I
                nor anyone I am aware of celebrated in any way, but our school
                would have been canceled, had it been scheduled in the first
                place. Hanna and I went out for ramen at Ai Ramen on Södermalm,
                which I can recommend to anyone in the area. Their gyoza were
                kind of weird; I wouldn't order them again, but the ramen itself
                was delicious. I ordered a glass of sake and was not carded,
                which felt kind of strange - the sense I get is European
                countries (even Sweden, with its relatively strict liquor laws)
                are much more lax about checking IDs, even for a rosy-cheeked
                twelve-year-old like myself.

        p.

                At some point, probably about a week and a half ago, someone in
                my host family bought a lot of apples. I want to say about 10
                each Granny Smith and Red Delicious apples (don't even get me
                started on Red Delicious apples) entered in the house, and
                slowly but surely progressed from under-ripe to over-ripe. I
                turned the worst offenders into a crumble late Tuesday night,
                which was delicious and leads me into an aside about pies and
                crumbles.

        p.

                Crumbles are better than pies. I'm not saying that every crumble
                is better than every pie, or even that the best crumble is
                better than the best pie - I think the best pie is probably
                better than the apple crumble, and there are some pie fillings
                that don't translate to crumbles, like pumpkin, cream, and
                french silk. However, I do think that the average apple crumble
                is both easier and better than the average apple pie, and I
                think that baking a crumble is a much better choice for a
                low-skill amateur baker like me. To that end, I'd like to offer
                you a simple recipe which I devised on Tuesday. I have one of
                these cooling right next to my laptop, and it both looks and
                smells amazing.

        include crumble-recipe.html
