extends resources/blogpost.pug

block blogcontent
        p.
                I didn't quite realize it had gotten to be so long, but it seems
                this is my first post of the new year. It's been a hectic few
                weeks, but at the same time I feel like very little has happened.
                I've sort of sat myself down in the hopes that I'll come up with
                something worth writing about.
        p.
                I spent 12-15 January in Lappland traveling with my host family.
                Daniel and Johanna lived in Kiruna for a few years a while back.
                The story Johanna tells is that she decided that she wanted to do
                her residence in a place that was different than anywhere she had
                lived before, and after two years or so she just felt so at home
                there that they decided to stay. My understanding is that they
                moved to Stockholm when Anna was 5 and Fanny 3, so neither of the
                children remembers it particularly well, but the sense I get is
                that all four of the family have a lot of nostalgia about it.
        p.
                Anyone interested should just read the Wikipedia page about
                Kiruna, but the short version is that it's a mining town built
                sometime in the early 20th century of about 20,000 people and
                is basically the northernmost inhabited place in Sweden. That
                puts it way north of the Arctic circle, so I was expecting it to
                be the coldest place I'd ever been, but it was about the same
                temperature (or a bit warmer, even) than Minneapolis, and nowhere
                near as cold as northern Minnesota can get.
        p.
                That said, it was still quite cold, and I was glad to have all of
                the winter clothes I loaned from my host family. We met with some
                of Daniel and Johanna's friends, drank a lot of coffee, saw some
                beautiful sights and briefly visited Norway. It was a great trip
                and I had a lot of fun, but I also think that another day would
                not have been pleasant.
        p.
                This past weekend was AFS Midstay camp, which I rate as much more
                successful than Post-arrival camp (which long time readers may
                remember from a few posts ago in November). It was more of the
                same talk about goals, reflecting on what's happened so far this
                year, cultural differences, how to make friends, etc.. I'm not
                sure if it was just that my attitude was better or if the camp
                was actually better planned and more bearable, but I had an
                overall pleasant experience. I don't really have much to say
                about the experience other than rating it 3.5 stars out of 5.
        p.
                We had last Thursday off school, so I spent the day making soup
                and teaching Knut (a classmate) to use
                #[a(href="https://en.wikipedia.org/wiki/LaTeX") LaTeX] for his
                #[span(class="font-italic") Gymnasiearbete] (a sort of
                High-school thesis, I guess?). Both were moderately successful:
                I think the language barrier hurt a lot with Knut, and the soup
                was delicious but I stored it with the noodles in and by the next
                morning they had soaked up all the broth and turned into what
                could generously be called a stew (which was still very edible).
        p.
                Today in Swedish class we received August Strindberg's
                #[span(class="font-italic") Spöksonaten (The Ghost Sonata)],
                which I am looking forward to reading.
        p.
                That's about all I have to report, and also it's pretty late and
                I want to get to bed, so I'll sign off here and hope to write
                again soon. In the inspirational words of Royce Hill, "Anything
                is a vape pen with a lighter and some courage."
