extends resources/blogpost.pug

block blogcontent
        p.

                I write this week from an SJ Snabbtåg ("fast train")
                on my way back to Stockholm from Lund. Annika, who
                Sjölunden experts may know as Elina or "the redheaded
                one," messaged me on Snapchat on Friday (two days ago)
                telling me that Claes, another Sjölunden student, was
                in Sweden and that he was coming to Lund to visit her
                before he headed up to Stockholm to return to the
                States. She asked if I would like to come down to Lund
                for the day, hang out with the two of them, and then
                take the train back up to Stockholm with Claes.

        p.

                I figured it sounded like fun and I didn't have any
                plans for the weekend so I asked my host family,
                texted my liaison, and booked a round trip train
                ticket. I left Stockholm at 8:20 this morning and I'll
                be getting back sometime around 23:30. I was in Lund a
                total of about 6 hours, during which time the three of
                us went to an excellent bakery/cafe; watched
                #[span(class="font-italic") Black Panther] in theaters
                - Claes and my second time, but Annika's first, and if
                there was ever a movie worth seeing in theaters twice
                it was that one; wandered around the city a bit and
                stopped in at Annika's house to meet her host family
                (Annika is not an AFS exchange student, which means
                that I can't stay overnight with her).

        p.

                Sandis (a classmate) just walked past me on the train,
                having apparently been at a physics camp in Lund over
                the weekend working on his
                
                #[span(class="font-italic") gymnasiearbete].

                Running into him was a bit strange, but not
                unwelcome. He's not a character I feel obligated to
                describe too in-depth, but he's always been pretty
                nice to me and to Blair. He and I had a nice
                conversation just now about his project, which relates
                to acoustic levitation and sounds really neat.

        p.

                It's quite late, but I've never been very good at
                sleeping on planes, trains or automobiles and I don't
                particularly have anything else to do, so I'm going to
                keep writing as much as I can; you may forgive me if I
                lose any lucidity or clarity.

        p.

                Lund was a fun experience because it is in Skåne, the
                southern province of Sweden, which is known for its
                distinctive guttural accent. I ordered a blueberry
                muffin and a latte from a woman in a cafe who had a
                strong Skåne accent, and the exchange took a moment,
                but I was proud of myself for making it through with
                the fika I wanted and without making a fool of myself.

        p.

                The cafe itself was a sweet little place called
                "Grandma's Bakery" (I honestly can't remember if it
                was named in Swedish or English). We wound up there
                because all of the other cafes in the area seemed to
                have some sort of agenda that would make their food
                work - I think there was a Paleo cafe (if that's even
                possible) and a vegan cafe, and we decided to go to
                the place that looked like it would have normal baked
                goods and drinkable coffee, and we were not
                disappointed on either front.

        p.

                I'm still trying to figure out if I will be traveling
                to Paris over Easter break - Claire, my friend from
                Minnesota who is an exchange student there, has been
                somewhat flaky and hard to pin down, and I suspect I
                may have missed the deadline to book plane tickets for
                a reasonable price. If I don't go I will instead be
                staying with Blair for a few nights while my host
                family is in Finland dealing with some family things
                which I don't want to get caught up in.

        p.

                My Swedish class went to an opera ("Aida" at the
                Kungliga operan, for anyone interested) last Monday
                and will be writing an analysis tomorrow in class. I
                could write pages about the opera (at least in
                English), but I'd frankly rather not, so I'll just
                summarize by saying that I enjoyed it more than I
                expected to but I'm still not sold on opera as a genre
                or an artistic medium.

        p.

                I could also write pages of complaints about the
                analysis model we're learning in our Swedish class,
                but I don't think I'd enjoy writing it or that you'd
                enjoy reading it. I'll summarize that by saying that
                in the States I went to a school which focused on the
                humanities, particularly theatre, and in Sweden I am
                at a school which focuses on the natural sciences, and
                that the difference really shows through in a way that
                I don't appreciate.
