extends resources/blogpost.pug

block blogcontent
        p.

                I've been quite busy for about the past month, and
                I'll do my best to catch you folks at home up on
                everything that has happened.

        p.

                I was nominated for the Presidential Scholars Program,
                which is a huge honor and not something someone turns
                down, but I am also somewhat concerned because there's
                a strong chance that, if I were selected as a
                Presidential Scholar, the ceremony would feature the
                U.S. President in some capacity and I would almost
                certainly half to shake his hand. That is something
                that I would really prefer not to do. but I suppose it
                is a price I am willing to pay in exchange for all of
                the benefits of being a Presidential Scholar (I'm not
                sure exactly what those benefits are, but based on the
                application I had to fill out there must be a lot of
                them).

        p.

                The application was a lot of work and included a photo
                and essay section. Ivar told me he liked my essay and
                my parents encouraged me to post it here, so here it
                is:

        div(class="collapse", id="essay")
                div(class=["card", "card-body"])
                        p.

                                The twin prompts were "Please upload a
                                photograph of something or someone of
                                great significance to you" and "Please
                                write an essay about the topic in your
                                Essay Photograph above. Your essay
                                should demonstrate style, depth and
                                breadth of your knowledge, and
                                individuality."

                        img(src="/image/riksdagshuset.png", class="img-fluid", alt="A photograph of the Swedish house of parliment")
                        p.
                                My photograph shows Riksdagshuset, the Swedish house of
                                parliament. Riksdagshuset is located directly in Gamla stan, the oldest part of
                                Stockholm, a beautiful neighborhood boasting history and landmarks dating back
                                well before American independence, and some even before the discovery of the New
                                World. The city of Stockholm is proud of that history and fights to preserve it
                                - laws prevent the construction of tall buildings which might overshadow, for
                                example, the 300-year-old Royal Palace.
                                        
                        p.
                                The most striking thing about Riksdagshuset, though, is not the centuries of
                                culture surrounding it; rather, it is the modern glass round overlooking the
                                river. That section was built in 1971, after the Sweden moved from a bicameral
                                parliament to a unicameral one - a larger building was needed to house their
                                single combined legislature. Options for how to handle the expansion abounded:
                                the Riksdag could relocate to a new building elsewhere (they did this, briefly,
                                while the expansion was being built); they could tear down the existing
                                Riksdagshus and construct a new one, either in a modern or a traditional style;
                                or they could build an expansion onto the building they had.

                        p.
                                The choice to expand must have been an easy one - Riksdagshuset is a beautiful
                                building, so tearing it down was out of the question, and the Swedish parliament
                                has met at the same spot for nearly a millennium, a tradition that could not be
                                lightly eschewed. The choice to construct a contemporary expansion seems less
                                intuitive. Even now, nearly 50 years later, I have heard people complain that
                                the addition does not fit in. They are few, though, and nearly everyone is
                                satisfied with Riksdagshuset's masterful blending of the old and the new, with
                                the way the sleek style of the new section compliments the blocky stone elegance
                                of the original building.

                        p.
                                My fear when I hear advocacy for a more unified America or a more unified globe
                                is that we will lose the things that make us unique; that the goal is to become
                                homogeneous. Our differences are beautiful, and to lose them would be to destroy
                                both our individual identities and the identity of America and of the world. I
                                will never surrender the things that make me who I am. My religion is not "the
                                opiate of the masses," as Karl Marx would have me believe; it is a valuable
                                connection to my ancestors and to my community.

                        p.
                                Sweden has, by and large, managed to grow together and look forward without
                                losing their identity or forgetting what is behind them (there are cases where
                                this is untrue and areas where Swedish society fails, but that is a topic for
                                another time). World-class museums, free for students, teach the nation's
                                history; Churches, synagogues, mosques and other places of worship are available
                                to people of a variety of faiths; The state protects historical minority
                                languages such as Sami, Romani and Yiddish, and offers their speakers education,
                                news and other services in their native tongues.

                        p.
                                The blending of tradition and progress, the idea of unity without homogeneity,
                                has made Sweden strong. America is a country of extremes, and extremes have
                                their place, but as my year abroad has continued I have found myself wishing
                                more and more that the U.S. could be a little less extreme and a little more
                                Swedish.

        button(
                class=["btn", "btn-primary"], type="button",
                data-toggle="collapse", data-target="#essay",
                aria-expanded="false", aria-controls="essay"
                ) Expand/collapse essay

        p.

                In my last post I mentioned that we were reading
                #[span(class="font-italic") Spöksonaten] in my Swedish
                class. We've finished with that and I now feel like I
                understand how ESL students feel about Shakespeare.

        p.

                There was a lot of what I assume was figurative
                language which I didn't understand in the play, and
                I'm sure I also missed any allusions present. That
                said, I understood the play at least at a surface
                level and was able to write the simple analysis the
                teacher wanted, which I am proud of.

        p.

                I also spent some time helping my classmate Knut with
                his #[span(class="font-italic") gymnasiearbete] - his
                paper is within the field of epidemiology and I wrote
                him some code to do simple epidemiological
                simulations. I haven't heard from him in a while about
                that, so I'm not sure how his paper has turned out,
                but like whatever.

        p.

                They say that exchange is about self-discovery, and so
                now that I'm 18, I've been experimenting in
                mixology. This may surprise some people (I feel like
                I've cultivated the image of a big square), but I have
                had bad experiences with alcohol, and my trick for
                avoiding them in the future is to only drink fancy
                mixed drinks - the more work that goes into them, the
                less inclined I am to have a second.

        p.

                Having been a legal adult for several months now, I am
                informing you all that my canonical mixed drink is a
                Whiskey Buck.

        div(class=["card", "card-body"])
                h3 How to make a Whiskey Buck

                p.

                        Shake two shots (4 cl) whiskey with ice and
                        strain into a chilled ~350ml highball glass
                        (the only kind of glass available to me). Fill
                        the glass with the strongest, spiciest ginger
                        beer you can find, garnish with a twist of
                        lemon, and serve with a straw.

        p.

                Swedes get two spring breaks,
                #[span(class="font-italic") sportlov] and
                #[span(class="font-italic") påsklov], each a week
                long. I am currently on
                #[span(class="font-italic") sportlov],
                and I have spent most of it either working
                on my Presidential Scholar application or recovering
                from doing that. Tomorrow I will be going to
                #[span(class="font-italic") fjärilhuset], a
                combination butterfly house and aquarium, with
                Hanna. I haven't seen Hanna in a while, and I love
                aquariums and feel generally ambivalent about
                butterflies, so that should be fun.

        p.

                It's also Johanna's birthday tomorrow. She works, so
                the plan is to have a big fancy birthday brunch for
                her on Saturday. I hope to contribute somehow to the
                brunch, and I'm also planning on finding her some sort
                of plant as a gift.

        p.

                For #[span(class="font-italic") påsklov] I'm planning
                to go to Paris to visit my friend Claire, another
                exchange student and a fellow Minneapolis native. I
                don't really have much to say about that other than
                that it's the plan and I hope to be able to tell you
                exciting stories about my visit to the City of Love.
