extends resources/blogpost.pug

block blogcontent
        p.
                
                This is the last blog post I will write from Sweden (it is
                possible I will find the time for one during the end-of-stay AFS
                camp, but I wouldn't count on it; in any case this will be the
                last one while living with my host family). In six days I will
                be in Minneapolis, sleeping in my own bed, eating meals with my
                real family, and speaking English with my old friends.

        p.

                In a week and a half I will be starting work again as at
                Adventium Labs, which has for the past two years been the best
                summer job a person my age could possibly imagine. Two months
                after that, I'll be moving out again, this time to Manhattan, to
                pursue an undergraduate degree of some description at NYU. I am
                looking forward to all of these things, and there are
                uncountable other pleasures, large and small, that I have
                missed from my old life.

        p.

                But even so, I cannot describe how sad I am to leave
                Stockholm. I am leaving wonderful host family who I love very
                much, many wonderful friends (I'd like to thank Blair, Susan,
                Hanna and Elvira in particular, though there are others), a city
                that I have grown to call home, a language I have learned to
                express myself in, and a culture that matches my personality
                almost perfectly. I'm not sure where life will take me in the
                coming years, but I would be happy to find myself living here
                permanently.

        p.

                I plan to return to Sweden soon and frequently, and I have
                already started pestering my friends and host family to come
                visit me in New York and/or Minnesota.

        p.

                There is much I wish I had done this year (a train trip around
                Europe, smooching a certain friend who will remain nameless
                because they may read this blog someday, swimming in the Baltic,
                etc.), but I am proud of everything I did accomplish and all of
                the memories I have. This has been, without a doubt, the best
                year of my life.
