extends resources/blogpost.pug

block blogcontent
        p.

                I'm on Påsklov (lit. "Easter break") right now. The
                astute reader may remember that just six weeks ago I
                had sportlov, another break. This one is also a week
                long, and I think it's a little weird that Swedes take
                two school breaks so close to each other, but I'm not
                complaining.

        p.

                My host family is in Finland - Johanna actually spent
                about a week leading up to Påsklov there following the
                death of her mother, which was a downer, and Fanny and
                Daniel joined her there on Saturday. There were
                various plans for me to stay with various friends
                which all kind of fell through, so I ended up being
                home alone, which has been kind of nice.

        p.

                I've been doing a lot of menial-sounding things like
                laundry, cleaning, caring for plants and cooking,
                which has actually been really great. I had sort of a
                rough week leading up to Easter (nothing in particular
                was wrong, I was just sort of broadly bummed out), so
                it's been great to have the time to myself to
                decompress and do some self-care.

        p.

                Yesterday I went out with Blair and did some
                Prom-related clothes shopping. I bought a pretty nice
                grey suit from Brothers, which I got for about 600:-
                off plus free tailoring for some Easter-related
                promotion or something. The suit fit almost perfectly
                already, except that the pants were 8 cm too long
                (thanks, Sweden). I'm going to pick it up tomorrow and
                also possibly meet Blair and Nicole (a Brazilian
                exchange student) and a few other folks to do some
                casual wandering around.

        p.

                Daniel just got home, so I'm going to cut out a bit
                early and greet him. I'll try to write again before
                break is over.
