block content
  div(class= ["container"])
    p.
      I'm Arthur Goldman. I'm a 17-year-old high school student from
      Minneapolis, Minnesota, and I'm using this blog to track my time
      as an exchange student in Sweden with AFS Intercultural Programs.
    p.
      My pronouns are they/them (eller hen/henom/hens på Svenska).
      I like math, computer science, literature, film, and pretty much
      anything one can study other than biology. I built this blog using
      #[a(href="https://nodejs.org/") NodeJS],
      #[a(href="https://expressjs.com/") Express],
      and #[a(href="https://getbootstrap.com/") Bootstrap], and you can
      find the source on
      #[a(href="https://github.com/annydalch/blog") Github].
