<div id="outline-container-org29e7d90" class="outline-2">
<h3 id="org29e7d90">Apple Crumble</h2>
<div class="outline-text-2" id="text-1">
<ol class="org-ol">
<li>Core and chop (do not peel) <b><span class="underline">4-5 apples</span></b> into 0.5 cm &#x2013; 1 cm slices. I
like to use 2 Granny Smith and 2-3 Red Delicious <sup><a id="fnr.1" class="footref" href="#fn.1">1</a></sup>
depending on how large they are. Drizzle <b><span class="underline">1 tsp lemon juice</span></b> over the
apples <sup><a id="fnr.2" class="footref" href="#fn.2">2</a></sup> and mix with a wooden spoon to spread.</li>

<li><p>
     In a small bowl, combine:
</p>

<ul class="org-ul">
<li><b><span class="underline">1/2 cup brown sugar</span></b></li>
<li><b><span class="underline">1/2 cup granulated sugar</span></b> <sup><a id="fnr.2.100" class="footref" href="#fn.2">2</a></sup></li>
<li><b><span class="underline">4 tsp powdered cinnamon</span></b></li>
<li><b><span class="underline">1 tsp powdered allspice</span></b></li>
<li><b><span class="underline">a healthy grating of nutmeg</span></b></li>
</ul>

<p>
and stir until homogeneous.
</p></li>

<li>Sprinkle the sugar mixture over the apple slices and mix with a wooden
spoon. The sugar will combine with moisture from the apples to form a
syrup.</li>

<li>Spread the apples at the bottom of a buttered crumble tray or Swedish-style
pie tray <sup><a id="fnr.3" class="footref" href="#fn.3">3</a></sup> and press down with a plastic spatula, or that
wooden spoon from earlier. Drizzle any syrup left in the bowl over top.</li>

<li><p>
     In a clean bowl, combine <b><span class="underline">1 1/2 cup</span> all-purpose flour_</b> with <b><span class="underline">75 g cold
butter</span></b>, cut into 1 cm (1/2 inch) cubes. Mix and knead by hand until a
mealy&#x2026; meal forms, then add:
</p>

<ul class="org-ul">
<li><b><span class="underline">1/4 cup brown sugar</span></b> <sup><a id="fnr.4" class="footref" href="#fn.4">4</a></sup></li>
<li><b><span class="underline">1/2 cup oatmeal</span></b> <sup><a id="fnr.5" class="footref" href="#fn.5">5</a></sup></li>
<li><b><span class="underline">1/2 tsp powdered cinnamon</span></b></li>
</ul>

<p>
and stir with a spatula, that wooden spoon from earlier, or some similar
large instrument until incorporated. The mixture should still be mealy and
retain a lot of texture.
</p></li>

<li>Pour the mealy mixture from step 5 over the apples in the pie tray and
spread with a fork until evenly distributed but not perfectly flat.</li>

<li>Sprinkle some raw walnuts, cut into manageable chunks, over the top of the
crumble if you happen to have them sitting around. Don't worry if you don't.</li>

<li>Bake at 190℃ (375℉) for 45 minutes. The topping should be browned and
crispy on top. If you're lucky, the syrup will be bubbling up around the
edges, which you can take a video of and post to your Snapchat story.</li>

<li>Let cool for at least 30 minutes <sup><a id="fnr.6" class="footref" href="#fn.6">6</a></sup>. Serve with vanilla ice
cream, vanilla sauce <sup><a id="fnr.7" class="footref" href="#fn.7">7</a></sup>, whipped cream, or rum whipped
cream <sup><a id="fnr.8" class="footref" href="#fn.8">8</a></sup>.</li>
</ol>
</div>
</div>
<div id="footnotes">
<h3 class="footnotes">Footnotes: </h3>
<div id="text-footnotes">

<div class="footdef"><sup><a id="fn.1" class="footnum" href="#fnr.1">1</a></sup> <span class="footpara">
Red Delicious apples are often criticized, fairly, for
tasting strange and having a weird texture. That said, they are excellent
baking apples.
</span></div>

<div class="footdef"><sup><a id="fn.2" class="footnum" href="#fnr.2">2</a></sup> <span class="footpara">
If brown sugar is unavailable, perhaps because you ran out and
haven't bothered to buy more, instead use <b><span class="underline">1 cup granulated sugar</span></b> in step 2
and drizzle <b><span class="underline">1 tbsp dark molasses</span></b> over the apples along with the lemon juice
in step 1.
</span></div>

<div class="footdef"><sup><a id="fn.3" class="footnum" href="#fnr.3">3</a></sup> <span class="footpara">
This is a large, shallow tray - mine is round, roughly 30 cm (1
foot) in diameter and 5 cm (2 inches) deep. A 16"x9" baking dish would
probably work well for any Americans following along at home.
</span></div>

<div class="footdef"><sup><a id="fn.4" class="footnum" href="#fnr.4">4</a></sup> <span class="footpara">
As a substitute for brown sugar in step 5, use <b><span class="underline">1 tbsp dark
molasses</span></b> and <b><span class="underline">1 tbsp granulated sugar</span></b>.
</span></div>

<div class="footdef"><sup><a id="fn.5" class="footnum" href="#fnr.5">5</a></sup> <span class="footpara">
In order of decreasing preference, use: rolled oats, steel-cut
oats, or instant oats.
</span></div>

<div class="footdef"><sup><a id="fn.6" class="footnum" href="#fnr.6">6</a></sup> <span class="footpara">
Honestly, I usually cut a slice at the 15 minute mark because I'm
very impatient. If you're serving this to other people, though, have it ready at
least 30 minutes before you're planning to eat it, because it will look nicer
and be easier to eat.
</span></div>

<div class="footdef"><sup><a id="fn.7" class="footnum" href="#fnr.7">7</a></sup> <span class="footpara">
Does this exist outside of Sweden? It's like strongly
vanilla-flavored whipped cream, only not as whipped. It's thick, but still
decidedly liquid, and it's stored in the refrigerator, and it has the same
flavor as vanilla ice cream.
</span></div>

<div class="footdef"><sup><a id="fn.8" class="footnum" href="#fnr.8">8</a></sup> <span class="footpara">
Just make normal whipped cream, but add some dark rum. I
would combine <b><span class="underline">2 tbsp confectioners' sugar</span></b>, <b><span class="underline">2 tbsp dark rum</span></b>, and <b><span class="underline">1
cup heavy whipping cream</span></b>, then beat with an electric or stand mixer until soft
peaks form. 
</span></div>


</div>
</div>
